*, ::before, ::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    margin-top: 5em;
}
.notifications{
    display: flex;
    flex-direction: column;
    margin-bottom: 1em;
}
.notify-heading{
    padding: 0.5em 1em;
    font-size: 0.9em;
    border: 1px solid #dddddd;
    border-bottom: none;
    background-color: white;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: gray;
}
.notify{
    display: flex;
    justify-content: space-between;
    background-color: rgb(230,247,255);
    padding: 1em;
    border: 1px solid #dddddd;
    border-bottom: none;
}
.notifications .notify:last-of-type{
    border-bottom: 1px solid #dddddd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.img-wrap{
    align-self: flex-start;
    position: relative;
}
.img-default{
    background-position: center;
    background-repeat: no-repeat;
    display: block;
    cursor: pointer;
}
.notify-img{
    width: 2.75em;
    height: 2.75em;
    object-fit: cover;
    margin-right: 1em;
}
.user-photo{
    border-radius: 50%;
}
.online::after{
    content: '';
    position: absolute;
    bottom: 0.2em;
    right: 0;
    width: 0.75em;
    height: 0.75em;
    margin-right: 1em;
    border-radius: 50%;
    background-color: white;
    border: 3px solid green;
    box-shadow: 0 0 0 2px white;
}
.search-job{
    padding: 0.5em;
    transform: scaleX(-1);
}
.notify-content{
    font-size: 0.95em;
    cursor: pointer;
    margin-right: auto;
}
.button{
    font-size: 0.95em;
    color: #0073b1;
    box-shadow: inset 0 0 0 1px #0073b1;
    text-transform: uppercase;
    display: block;
    border-radius: 2px;
    font-weight: 500;
    width: max-content;
    white-space: nowrap;
    margin-top: 0.75em;
    padding: 0.3em 1em 0.35em 1em;
    cursor: pointer;
}
.button:hover{
    background-color: #edf9ff;
}
.time-wrap{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 1em;
}
.more{
    width: 1.25em;
    height: 1.25em;
    background-size: 1.15em;
    background-image: url("../SVG/more.svg");
    opacity: 0.6;
    transform: rotate(90deg);
}
.date{
    font-size: 0.8em;
    color: gray;
    margin-top: 0.25em;
}
.read{
    background-color: white;
}
@media only screen and (max-width:650px){
    .container{
        margin-top: 3.75em;
    }
    .more{
        transform: rotate(0deg);
        background-size: 0.75em;
    }
}
@media only screen and (max-width:500px){
    .container{
        font-size: 0.95em;
    }
    .search-job{
        padding: 0.25em;
    }
}