@font-face{
    src: url("../Font/Lato/Lato-Regular.ttf");
    font-family: myfont;
}
@font-face{
    src: url("../Font/Lato/Lato-Bold.ttf");
    font-family: myfont;
    font-weight: bold;
}
*,
::before,
::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: myfont;
    outline: none;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: whitesmoke;
    overflow: hidden;
    overflow-y: auto;
}
.main{
    width: 100%;
    margin: auto;
    position: relative;
    background-color: white;
}
.header{
    background-color: #0073b1;
    width: 100%;
    padding: 0.5em 0.75em;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 3;
}
.icon{
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    cursor: pointer;
    display: block;
}
.small-icon{
    width: 1.25em;
    height: 1.25em;
    background-size: 1.2em;
}
.arrow{
    background-size: 1.5em;
    background-image: url("SVG/back.svg");
}
.more{
    background-size: 1.35em;
    background-image: url("SVG/more-icon.svg");
    transform: rotate(90deg);
    filter: invert(1);
}
.post-section{
    display: flex;
    flex-direction: column;
}
.title{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0.5em;
}
.img-wrap,
.photo-wrap{
    position: relative;
}
.image{
    width: 3em;
    height: 3em;
    object-fit: cover;
    border-radius: 50%;
}
.online::after{
    content: '';
    position: absolute;
    bottom: 0.15em;
    right: 0;
    width: 0.75em;
    height: 0.75em;
    border-radius: 50%;
    display: block;
    background-color: white;
    border: 3px solid green;
    box-shadow: 0 0 0 2px white;
}
.comp-name{
    display: flex;
    flex-direction: column;
    margin-left: 0.75em;
}
.comp-info,
.timing{
    color: gray;
    font-size: 0.9em;
}
.timing{
    display: flex;
    align-items: center;
}
.globe{
    margin-left: 0.25em;
    opacity: 0.5;
    background-size: 0.9em;
    background-image: url("SVG/globe.svg");
}
.post{
    display: flex;
    flex-direction: column;
}
.post-content{
    padding: 1em;
    line-height: 1.5em;
    text-align: justify;
    font-size: 0.95em;
}
.hashtag{
    color: #0395b9;
    font-weight: bold;
}
.vote-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.25em;
    margin: 0 1em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gainsboro;
}
.vote-wrap{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.like{
    background-image: url("SVG/like-icon.svg");
}
.love{
    background-image: url("SVG/love-icon.svg");
}
.clap{
    background-image: url("SVG/clap-icon.svg");
}
.count,
.comments{
    color: gray;
    font-size: 0.85em;
    margin-left: 0.5em;
}
.share-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 2em;
    border-bottom: 1px solid gainsboro;
}
.like-icon{
    background-image: url("SVG/like.svg");
}
.comm-icon{
    background-image: url("SVG/comment.svg");
}
.share-icon{
    background-image: url("SVG/share.svg");
}
.send-icon{
    background-image: url("SVG/send.svg");
}
.sharing{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sharing .icon{
    width: 1.5em;
    height: 1.5em;
    background-size: 1.25em;
}
.sharing span:nth-child(2){
    font-size: 0.9em;
}
.reaction-section,
.comments-section{
    padding: 0.5em 1em;
}
.comments-section{
    margin-bottom: 6.5em;
}
.reaction{
    display: flex;
    padding: 0.5em 0;
    align-items: center;
    overflow: hidden;
    overflow-x: scroll;
}
.photo-wrap{
    margin: 0 0.5em;
    cursor: pointer;
}
.photo-wrap .float{
    position: absolute;
    bottom: 0;
    right: -0.35em;
    border: 2px solid white;
    border-radius: 50%;
    background-size: 1.15em;
}
.photo-wrap img{
    width: 2.5em;
    height: 2.5em;
}
.more-react{
    width: 2.5em;
    height: 2.5em;
    background-size: 1.15em;
    background-image: url("SVG/more-icon.svg");
    border: 2px solid gray;
    border-radius: 50%;
}
.comment-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 0;
    padding-bottom: 1em;
}
.comment-title b{
    margin-left: auto;
    margin-right: 0.35em;
    cursor: pointer;
    color: gray;
}
.up-down{
    background-image: url("SVG/up-and-down.svg");
    background-size: 1em;
    opacity: 0.5;
}
.comment{
    width: calc(100% - 3em);
    display: flex;
    flex-direction: column;
}
.comment-wrap .photo-wrap{
    margin: 0 0.25em;
}
.comment-wrap,
.comment-reply{
    display: flex;
}
.comment-reply{
    margin-top: 1.5em;
}
.content{
    background-color: rgb(242,246,249);
    padding: 1em;
    padding-top: 0.35em;
    border-radius: 1.25em;
    border-top-left-radius: 0;
    margin-left: 0.25em;
}
.comm-name{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.co-name{
    display: flex;
    flex-direction: column;
    padding-bottom: 0.35em;
    width: 75%;
}
.co-name .name{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.co-name .name .linfo{
    opacity: 0.5;
    margin-left: 0.5em;
    align-self: flex-end;
}
.co-name .name .linfo::before{
    margin-right: 0.5em;
}
.comm-job,
.comm-time{
    color: gray;
    font-size: 0.8em;
}
.comm-job{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.comm-name .icon{
    width: 1em;
    height: 1.5em;
    filter: none;
    background-size: 0.85em;
}
.comm-content{
    display: flex;
    flex-direction: column;
}
.comm-info{
    text-align: justify;
    font-size: 0.9em;
}
.like-reply{
    display: flex;
    align-items: center;
    margin-top: 0.75em;
    margin-left: 0.25em;
    opacity: 0.6;
}
.linfo{
    font-size: 0.85em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.75em;
}
.linfo::before{
    content: '';
    width: 3px;
    height: 3px;
    border-radius: 50%;
    background-color: black;
    display: block;
    margin-right: 0.75em;
}
.footer{
    width: 100%;
    padding: 0.25em;
    position: fixed;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 -1px 0px 0 gainsboro;
}
.suggestions-text{
    display: flex;
    width: 100%;
    flex: 1;
    overflow: hidden;
    overflow-x: auto;
    flex-wrap: nowrap;
    padding: 0.5em 0;
}
.suggestions-text::-webkit-scrollbar,
.reaction::-webkit-scrollbar{
    display: none;
}
.suggestions-text span{
    padding: 0.25em 1em;
    white-space: nowrap;
    cursor: pointer;
    background-color: rgb(242,246,249);
    border-radius: 1em;
    margin-right: 1em;
    font-weight: bold;
    color: rgb(44, 44, 44);
}
.your-comment{
    display: flex;
    align-items: center;
    padding: 0.5em;
}
.your-comment .image{
    width: 2em;
    height: 2em;
}
.input-text{
    flex: 1;
    border: none;
    padding: 0.5em 1em;
    font-size: 0.975em;
}
.at-icon{
    background-size: 1.25em;
    background-image: url("SVG/at.svg");
    margin-right: 0.5em;
}
.button{
    display: block;
    cursor: pointer;
    font-weight: bold;
    padding: 0 1em;
    color: #0073b1;
}