@font-face{
    src: url("../Font/Lato/Lato-Regular.ttf");
    font-family: myfont;
}
@font-face{
    src: url("../Font/Lato/Lato-Bold.ttf");
    font-family: myfont;
    font-weight: bold;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: myfont;
}
.container{
    width: 100%;
    height: 100vh;
    background-color: whitesmoke;
}
.main{
    width: 40%;
    margin: auto;
    position: relative;
}
.header{
    background-color: #0073b1;
    width: 100%;
    padding: 0.5em 0.75em;
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.icon{
    width: 2em;
    height: 2em;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 2em;
    display: block;
}
.arrow{
    background-size: 1.5em;
    background-image: url("SVG/back.svg");
}
.more{
    background-size: 1.35em;
    background-image: url("SVG/more-icon.svg");
    transform: rotate(90deg);
    filter: invert(1);
}
.post-section{
    display: flex;
    flex-direction: column;
}