@font-face{
    src: url("../Fonts/SourceSansPro-Regular.ttf");
    font-family: myFont;
}
@font-face{
    src: url("../Fonts/SourceSansPro-Bold.ttf");
    font-family: myFont;
    font-weight: bold;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: myFont, 'Segoe UI';
}
.container{
    background-color: whitesmoke;
    width: 100%;
    height: 100vh;
}
.main{
    width: 50%;
    height: 100%;
    margin: auto;
    background-color: white;
    display: flex;
    flex-direction: column;
}
.title-bar{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0073b1;
    padding: 1.25em 0.85em;
}
.svg-icon{
    width: 1em;
    height: 1em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 1em;
    display: block;
    margin: 0 0.75em 0 0.35em;
    cursor: pointer;
}
.back-arrow{
    background-image: url("Images/back.svg");
}
.title-name{
    color: white;
    margin-right: auto;
    font-size: 1.1em;
    margin-left: 1em;
}
.edit{
    background-image: url("Images/edit.svg");
}
.more{
    background-image: url("Images/more.svg");
}
.search-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em;
    border-bottom: 1px solid #dddddd;
}
.search{
    background-image: url("Images/search.svg");
}
.search-text{
    border: none;
    flex: 1;
    margin: 0 0.3em;
    padding: 0.35em 0;
    font-size: 0.9em;
}
.filter{
    background-image: url("Images/adjust.svg");
}
.filter-bar{
    padding: 0.4em;
    padding-top: 0.7em;
    border-bottom: 1px solid #dddddd;
    overflow: hidden;
    overflow-x: scroll;
}
.hide{
    display: none;
}
.filter-bar::-webkit-scrollbar{
    height: 0.2em;
}
.filter-bar:hover::-webkit-scrollbar-thumb{
    background-color: #dddddd;
}
.filter-list{
    list-style: none;
    display: flex;
}
.filter-list li{
    white-space: nowrap;
    padding: 0.25em 0.75em;
    background-color: #eeeeee;
    margin: 0 0.75em;
    color: rgb(54, 53, 53);
    border-radius: 1em;
    cursor: pointer;
}
.filter-list li:hover{
    color: white;
    background-color: #0073b1;
}
.opt.active{
    color: white;
    background-color: #0073b1;
}
.contacts{
    flex: 1;
    margin-top: 1em;
    overflow: hidden;
    overflow-y: scroll;
}
.contacts::-webkit-scrollbar{
    width: 0.25em;
}
.contacts:hover::-webkit-scrollbar-thumb{
    background-color: #dddddd;
}
.contact{
    padding: 0.85em;
    padding-top: 0;
    display: flex;
    cursor: pointer;
}
.cont-info{
    margin-left: 0.75em;
    width: calc(100% - 3.25em);
    border-bottom: 1px solid #dddddd;
    padding-bottom: 0.6em;
}
.img-wrap{
    position: relative;
}
.online::after{
    content: '';
    position: absolute;
    bottom: 1.85em;
    right: 0.1em;
    width: 0.35em;
    height: 0.35em;
    background-color: white;
    border-radius: 50%;
    border: 2px solid green;
}
.user-image{
    width: 2.5em;
    height: 2.5em;
    object-fit: cover;
    border-radius: 50%;
}
.no-image{
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background-color: whitesmoke;
    display: flex;
    justify-content: center;
    align-items: center;
}
.no-image span{
    font-size: 1em;
    font-weight: bold;
}
.no-image.online::after{
    bottom: 0;
}
.user-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.name{
    font-weight: bold;
}
.time{
    color: gray;
}
.message{
    width: 95%;
    font-size: 0.9em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-top: 0.15em;
    min-height: 2.5em;
}
@media only screen and (max-width:1300px){
    .main{
        width: 60%;
    }
}
@media only screen and (max-width:1100px){
    .main{
        width: 70%;
    }
}
@media only screen and (max-width:900px){
    .main{
        width: 80%;
    }
}
@media only screen and (max-width:768px){
    .main{
        width: 100%;
    }
}